@font-face {
  font-family: 'stardewVariable';
  src: local('stardewVariable'), url('stardewVariableVF.ttf') format('truetype');
  font-style: normal;
}

:root {
  --stroke: #000000; /* Your base color */
}


html{
/*     background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,0,1) 100%);*/
     height: auto;
}

body {
  justify-content: center;
  align-items: center;
  font-family: 'stardewVariable', Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  margin: 0; /* Reset margin to remove extra space */
  background: linear-gradient(white, yellow);
  transition: .65s;
  position: relative;
  cursor: url('cursor.png'), auto;
  opacity: 0;
  animation: start 1s ease-out forwards;
  text-decoration: none;

}

/* Other styles remain unchanged */
.controls{
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  position: fixed;
  margin: 0 auto;
  margin-top: 3vh;
}

.enter{
  position: relative;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}


#text {
/*  text-align: left;*/
  font-size: 11.5vw;
  transition: .65s;
  line-height: 1.1;
  width: 86%;
  outline: none;
  text-overflow: nowrap!important;
  font-variation-settings: 'wght' 40, 'wdth' 50;
  -webkit-text-stroke-width: 0.5px; /* Adjust stroke width as needed */
  -webkit-text-stroke-color: black; /* Initial stroke color */
  margin-top:25vh;
  cursor: text;
  animation: floatAnimation 2s infinite alternate, textShadowAnimation 2s infinite alternate;
  text-shadow: 0px 0px 0px transparent;
/*  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);*/
}



.slider {
  -webkit-appearance: none;
  width: 15%;
  height: 10px;
  border-radius: 5px;
  background: white;
  outline: none;
  border: 1px solid black;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 0;
  background: url('star.png');
  background-size: contain;
  cursor: pointer;
}

/*
#slider {
  display: inline-flex;
  margin: 0 auto;
  margin-top: 5vh;
  width: 10%;
  align-items: center;
  align-content: center;
  vertical-align: center;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url('star.png');
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 23px;
  height: 25px;
  border: 0;
  background: url('star.png');
  cursor: pointer;
}*/


#head, #stroke{
  background-color: white;
  border-radius: 50%;
  margin-right: .5vw;
  width: 2.25vw;
  padding: .3vh 0.8vh 0.3vh 0.8vh;
}

button{
    background-color: white;
    border: .5px solid black;
    transform: scale(1.2);
    margin: vh;

    margin-top: 0;
    font-size: 1.35vh;
    border-radius: .5vw;
    padding: .4vw .7vw .4vw .7vw;
    cursor: pointer;
}

button:hover{
  background-color: black;
  color: white;
}

#decreaseFontSize{
  margin-right: .3vw;
  width:  2vw;
}

#increaseFontSize{
  width:  2vw;
}

#head{
  margin-left:  .75vw;
  margin-right: .25vw;
  cursor: pointer;
}

#stroke{
  background-color: black;
  border: .1px solid white;
  cursor: pointer;
}

#gradient{
  background-color: white;
  margin-right: .35vw;
  margin-left: .35vw;
  padding: .1vh 0.35vh 0.1vh 0.35vh;
}

.size{
  margin-left: .75vw;
  margin-right: .2vw;
}

@keyframes floatAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px); /* Adjust the floating distance as needed */
    }
  }

    @keyframes start {
    from{
      opacity: 0;
    }

    to{
      opacity: 1;
    }
  }
@keyframes textShadowAnimation {
  from {
    text-shadow: 0px 0px 0px transparent;
  }
  to {
    text-shadow: 0px 0px 6px rgba(var(--stroke-rgb), 0.45);
  }
}


  @media only screen and (max-width: 700px){
    button{
      padding: 1vw 2vw 1vw 2vw;
      font-size: 3vh;
      border-radius:  1vw;
  }
  .slider{
    width: 25%;
  }
