@font-face {
  font-family: 'stardewVariable';
  src: local('stardewVariable'), url('stardewVariableVF.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'stardewRegular';
  src: local('stardewRegular'), url('stardewRegular-Regular.otf') format('opentype');
  font-style: normal;
}

:root {
  --stroke: #000000; /* Your base color */
  /* --background: #FF42BA; */
  --background: #42FFFC;
  
}


html{
/*     background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,0,1) 100%);*/
     height: auto;
}

body {
  font-family: 'stardewVariable', Arial, sans-serif;
  text-align: left;
  /* min-height: 100vh; */
  width: 100%;
  height: 100vh;
  margin: 0; /* Reset margin to remove extra space */
  transition: .65s;
  position: relative;
  cursor:  auto;
  cursor: url('cursor2.svg') 10 10, auto;
  opacity: 0;
  animation: start 1s ease-out forwards;
  text-decoration: none;
  display: flex;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
  border: .5px solid #1C1C1C;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1C1C1C; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}
/* Other styles remain unchanged */
.controls{
  background-color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  position: fixed;
  width: 60%;
  padding-left: .8vh;
  box-sizing: border-box;
  padding-bottom: .4vh;
  border-bottom: 1.5px dotted #1C1C1C;
  border-right:  1.5px dotted #1C1C1C;
}

.controls button{
  background: white!important;
  color:#1C1C1C!important;
  border: .5px solid #1C1C1C;
}

.controls button:hover{
  background: #1C1C1C!important;
  color:white!important;
  border: .5px solid white;
}

.heading{
  display: flex;
  border-radius: 2vh;
  font-family:  Arial, sans-serif;
  font-size: .95vw;
}


#tester-header{
  display: flex;
  justify-content: left;
  box-sizing: border-box;
  padding-top: 1.25vh;
  padding-bottom: 1.25vh;
}

#about-header{
  display: flex;
  margin:0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25vh;
  padding-left: .8vh;
  padding-right: 1.6vh;
  box-sizing: border-box;
  padding-bottom: 1.25vh;
  width: 40%;
  color: white;
  background-color: #1C1C1C;
  border-bottom: 1.5px dotted #1C1C1C;
  z-index: 100;
}

#mode{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

#mode-button{
  font-size: .9vw;
}

input{
  border: none;
}

.inputs{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  margin: 0 auto;
}

.uppercase{
  text-transform: capitalize;
}

.tester{
  display: flex;
  z-index: 10;
  width: 60%;
  border-right: 1.5px dotted #1C1C1C;
  background: linear-gradient(white, var(--background));
}

.enter{
  position: relative;
  padding-top:6vh;
  width: 100%;
  overflow-y: scroll;
  text-transform: lowercase;
}

.meters{
  position: fixed;
  z-index: 200;
  font-size: 1vw!important;
}

.meters span{
  background-color: rgba(255,255,255,.5);
  border-radius: 2vh;
}

#weightmeter{
  padding-left: 1vh;
  padding-right: 1vh;
  text-transform: uppercase!important;
}

#widthmeter{
  padding-left: 1vh;
  padding-right: 1vh;
  text-transform: uppercase!important;
}

#text {
  padding-left: 1vh;
  padding-right: 1vh;
  min-height: 50vh;
  width: 100%;
  display: block;
  font-size: 240px;
  transition: .7s;
  line-height: 1.1;
  justify-content: center;
  text-align: center;
  width: 100%;
  outline: none;
  text-overflow: nowrap!important;
  font-variation-settings: 'wght' 50, 'wdth' 50;
  -webkit-text-stroke-width: 0.5px; /* Adjust stroke width as needed */
  -webkit-text-stroke-color: #1C1C1C; /* Initial stroke color */
  cursor: text;
  animation: floatAnimation 2s infinite alternate, textShadowAnimation 2s infinite alternate;
  text-shadow: 0px 0px 0px transparent;
  box-sizing: border-box;
/*  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);*/
}

.slider {
  -webkit-appearance: none;
  width: 26%;
  height: 10px;
  border-radius: 5px;
  background: white;
  outline: none;
  border: .9px solid #1C1C1C;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  /* box-shadow: 0px 0px 5px 4px rgba(255, 66, 186, .5); */
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 0;
  background: url('star.png');
  background-size: contain;
  cursor: pointer;
}

#head, #stroke{
  /* background-color: white; */
  border-radius: 50%;
  margin-right: .5vw;
  width: 2.25vw;
}

button{
    background-color: #1C1C1C;
    border: .5px solid white;
    box-sizing: border-box;
    transform: scale(1.1);
    font-size: 1vw;
    color:white;
    border-radius: 1.5vh;
    padding: .1vw .4vw .1vw .4vw;
    cursor: pointer;
}

button:hover{
  background-color: white;
  border: 1px solid #1C1C1C;
  color: #1C1C1C;
}

#decreaseFontSize{
  /* margin-right: .3vw; */
  width:  2vw;
}

#increaseFontSize{
  width:  2vw;
}

#head{
  margin-left:  1.5vw;
  margin-right: 0..95vw;
  cursor: pointer;
  border: none;
  width:  2vw;
  height: 2vw;
}

#stroke{
  /* background-color: #1C1C1C; */
  /* border: .9px solid #1C1C1C; */
  cursor: pointer;
  margin-right: .95vw;
  width:  2vw;
  box-sizing: border-box;
  height: 4.3vh;
  padding: 1.3vh 0.35vh 1.3vh 0.35vh;
}

#gradient{
  background-color: white;
  margin-right: .35vw;
  margin-left: .35vw;
  padding: .1vh 0.35vh 0.1vh 0.35vh;
}

#fontsize{
  font-family: Arial, Helvetica, sans-serif;
  font-size: .95vw;
  pointer-events: none;
}

.size{
  margin-left: .75vw;
  margin-right: .2vw;
}

.about{
  display: flex;
  width: 40%;
  height: 100vh;
  justify-content: center;
  text-align: left;
}

.info{
  overflow-y: scroll;
  padding-left: 2vh;
  padding-top: 1vh;
  padding-right: 2vh;
  font-variation-settings: 'wght' 50, 'wdth' 50;
  text-transform: lowercase;
  transition: .65s;
}

.subheadings{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3vh;
  font-size: .95vw;
  position: relative;
  text-transform: uppercase;
}

.subheadings::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 1px dotted black;
  width: 100%;
  z-index: -1; /* Ensures the border appears behind the text */
}

.subheader{
  background-color: #1C1C1C;
  color: white;
  border-radius: 1.5vh;
  padding: 1%;
}

#info-header{
  margin-top: -6vh;
}
/* 
.characters, .process, .about, .information{
  margin-bottom: 5vh;
  border-bottom: 1px dotted #1C1C1C;;
} */

.symbols{
  display: flex;
  margin-top: -28vh;
  justify-content: space-between;
  align-items: baseline;
  animation: stroke 4s infinite alternate-reverse ease-in-out;
}

.symbol{
  font-size: 20vw;
}

#symbol1{
  font-variation-settings: 'wght' 50, 'wdth' 0; 
}

#symbol2{
  font-variation-settings: 'wght' 50, 'wdth' 50; 
}

#symbol3{
  font-variation-settings: 'wght' 50, 'wdth' 100; 
}

#symbol4{
  font-size: 13vw;
}
#symbol5{
  font-size: 20.5vw;
}
#symbol6{
  font-size: 28vw;
}

#weight{
  animation: varyweight 4s infinite alternate-reverse ease-in-out;
  font-size: 4.5vw;
  line-height:1.5;
}
#width{
  animation: varywidth 4s infinite alternate-reverse ease-in-out;
  font-size: 4.5vw;
  line-height:1.5;
}

.arial{
  font-size: .95vw;
  font-family: Arial, Helvetica, sans-serif;
}
.arialsub{
  font-size: .95vw;
  font-family: Arial, Helvetica, sans-serif;
}

.font{
  display: inline-flex;
  font-size: 6vw;
  line-height: 0;
  font-family: 'stardewVariable', Arial, sans-serif;
}

.pixel{
  display: inline-flex;
  vertical-align: middle;
}

.pixel img{
  height: 1.2vw;
}

.process{
  margin-bottom: 4vh;
}

.imgs >img{
  width: 29%;
  border: 1px dotted #1C1C1C;
  margin-right: .5vh;
  border-radius: 2vh;
}

.imgsvar >img{
  width: 21.2%;
  border: 1px dotted #1C1C1C;
  margin-right: .5vh;
  border-radius: 2vh;
}

.chars {
  font-family: 'stardewRegular', Arial, sans-serif;
  display: flex;
  position: relative;
  flex-wrap: wrap; /* Ensures the text wraps */
  width: 100%;
  font-size: 9.25vw;
  margin:0;
  line-height: 1;
  /* color: white; */
}

.chars span {
  display: inline-block;
  position: relative;
  padding:  0 1vh 0 1vh;
  transition: color 0.3s, text-shadow 0.3s;
}

.chars span:hover {
  color: white;
  -webkit-text-stroke: 1px #1C1C1C;
}


.dark-modeText{
  background: #1C1C1C;
  color:white;
}

.dark-modeChars{
  color:#1C1C1C;
  -webkit-text-stroke: .5px white;
}

.dark-modeHeader{
  background:white!important;
  color:#1C1C1C!important;
}

.dark-modeSubheader{
  /* border: 1px dotted white!important; */
  color: #1C1C1C;
  background-color: white;
}

.dark-modeButton{
  background: white;
  color:#1C1C1C;
  border: 1px solid white;
}

.email{
  text-decoration: underline dotted;
}

.end{
  font-size: 5.5vw;
  padding-bottom: 2vh;
  -webkit-text-stroke: 1px #1C1C1C;
  color:white;
}

.mockimgs > img{
  width: 97%;
  margin: 1vh;
  border: 1.5px dotted black;
}


@keyframes stroke{
  0%{
    -webkit-text-stroke: 1px #1C1C1C;
    color:white;
  }
  50%{
    -webkit-text-stroke: .5px #1C1C1C;
    color:gray; 
  }
  100%{
    -webkit-text-stroke: .5px white;
    color:#1C1C1C;
  }
}


@keyframes varyweight {
  from{
    font-variation-settings: 'wght' 100, 'wdth' 50; 
  }
  to{
    font-variation-settings: 'wght' 0, 'wdth' 50;
  }
  
}

@keyframes varywidth {
  from{
    font-variation-settings: 'wght' 50, 'wdth' 100; 
  }
  to{
    font-variation-settings: 'wght' 50, 'wdth' 0;
  }
  
}


@keyframes floatAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px); /* Adjust the floating distance as needed */
    }
  }

    @keyframes start {
    from{
      opacity: 0;
    }

    to{
      opacity: 1;
    }
  }
@keyframes textShadowAnimation {
  from {
    text-shadow: 0px 0px 0px transparent;
  }
  to {
    text-shadow: 0px 0px 6px rgba(var(--stroke-rgb), 0.45);
  }
}

@media only screen and (max-width: 1300px){
  .arial, .arialsub, .subheadings, .heading, .meters{
    font-size: 1.9vh;
  }

  #mode-button{
    font-size: 1.6vh;
  }

  .symbols{
    margin-top: -15vh;
  }

}

@media only screen and (max-width: 700px){
  .symbols{
    margin-top: -10vh;
    margin-bottom: 3vh;
  }

  #head, #stroke{
    /* background-color: white; */
    border-radius: 50%;
    width: 3vw;
    height: 3vh;
  }

  #head{
    margin-right:-1vw;
  }

  .controls button{
    transform: scale(1.7)
  }
}